<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.theonlysinjin.windowmanager</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/WindowManager.app/Contents/MacOS/WindowManager</string>
        <string>run</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>/tmp/window-manager.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/window-manager.log</string>
</dict>
</plist>
